@model FoodServices.Models.MenuItem

@{
    ViewData["Title"] = "Delete";
}

<style>
   /*body, form {
        background-color: transparent;
        background: #f6d365;
        background: -webkit-linear-gradient(to right bottom, rgba(13, 152, 186,1), rgba(13, 152,180, 1));
        background: linear-gradient(to right bottom, rgba(255,255,255,1),rgba(22, 152, 190, 1));
        font-family:Calibri;
    }*/
    
    section {
        background-image: url("https://i0.wp.com/post.healthline.com/wp-content/uploads/2021/04/beef-broccoli-chinese-food-1296x728-header.jpg?w=1575");
        background-size: inherit;
    }
</style>
<br />
<br />

<section class="vh-210" style="background-color: #f4f5f7;">
    <div class="container py-5 h-210">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0 text-center">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <br />
                   
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-4">
             <img src="@Model.ImageUrl" height="100px" />
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
        </div>
                </div>
            </div>
        </div>
    </div>

</section>
